<html>
    <head>
        <title>Iris Flower Prediction</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
            .row-card{
                margin-top: 10vh;
                border-radius: 15px;
                border:none;
  
                padding: 30px;
          
                background-color: rgb(255, 255, 255);

                box-shadow: 5px 5px 10px  #888;
            }
            
            .result{
                margin-top: 30px;
                text-align: center;
            }
        </style>

    </head>
    <body bgcolor=#fff>
        <div class="container">
            <center>
                <div class="row ">
                    <div class="col-12 col-md-6 offset-md-3 row-card">
                            <h1>Iris Species Classification</h1>
                            <p style="margin-bottom: 20px;">Enter flower details fo species name</p>
                                <form class='form' method="POST", action="{{url_for('predict')}}">
                                <input class='form-control' type="text" name='sepal_length' placeholder="enter sepal_length" required><br>
                                    <input class='form-control' type="text" name='sepal_width' placeholder="enter sepal_width" required><br>
                                    <input class='form-control' type="text" name='petal_length' placeholder="enter petal_length" required><br>
                                    <input class='form-control' type="text" name='petal_width' placeholder="enter petal_width" required>
                                    <br><br>
                                    <button type="submit" class="btn btn-primary" value='predict!' >predict</button>
                                </form> 

                    </div>
                </div>
                <div class="row">

                    <div class="col-12 result">
                        <center>
                        {%if data==0%}
                        <h2>Given specifications belong to <b> Iris-setosa</b></h2>
                        {%elif data==1%}
                        <h2>Given specifications belong to <b> Iris-versicolor</b></h2>
                        {%elif data==2%}
                        <h2>Given specifications belong to <b> Iris-virginica</b></h2>
                        {%endif%}
                        </center>
                    </div>
            </div>
            </center>
            
        </div>


    </body>
</html>
